{% extends "base.html.twig" %}
{% block body %}
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Add a Product</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xxl-12 d-xxl-flex justify-content-xxl-center align-items-xxl-center">
                {{ form_start(productForm) }}
                {{ form_widget(productForm) }}
                <br>
                <input type="submit" value="Add" width="20%" class="button" />
                {{ form_end(productForm) }}
            </div>
        </div>
    </div>
{% endblock %}