{% extends "base.html.twig" %}

{% block body %}
<div>
<table class "table table-striped">
   <tr>
      <th>Customer Detail</th>
   </tr>
   <tr>
      <th>Customer Name</th>
      <td>{{ customer.name }}</td>
   </tr>
   <tr>
      <th>Customer Email</th>
      <td>{{ customer.email }}</td>
   </tr>
   <tr>
      <th>Customer phone</th>
      <td>{{ customer.phoneNumber }}</td>
   </tr>
   </table>
      </div>
   
{% endblock %}