{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}

{# Display a list of all category in a table #}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>CatID</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
    {% for category in categories %}
        <tr>
            <td>{{ category.id }}</td>
            <td>{{ category.catID }}</td>
            <td>{{ category.name }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
