.wrap {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: 1500px;
  margin: 0 auto;
  position: relative;
}

body{
  font-family: 'Lexend Exa', sans-serif;
  line-height: 1.5em;
}

.welcome.gradient.home-welcome {
  border: solid 5px #212121;
  height: 100%;
  margin: 0 auto;
  max-width: 1400px;
  min-height: 850px;
  max-height: 850px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background: linear-gradient(140deg,rgb(222,199,178) 20%, rgb(255,169,122) 70%);
}

* {
  box-sizing: border-box;
}

section {
  display: block;
}

html {
  -webkit-text-size-adjust: 100%;
}

.welcome-messaging {
  transform: translateY(-50%) translateX(-50%);
  color: #fff;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  z-index: 2;
  width: 75%;
}

div {
  display: block;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.button {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  background-color: #c9908c;
  border-radius: 0;
  border: solid 3px #212121;
  color: #212121;
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-family: Lexend Exa;
  height: 55px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  height: 55px;
  line-height: 55px;
  margin: 0 auto;
  /*width: 255px;*/
  box-shadow: 0 0.25em 0 0;
}

.button:hover {
  background-color: #212121;
  color: #ffffff;
  text-decoration: none;
  box-shadow: 0 .25em 0 0 #484848;
}

.diagonal-line {
  background-image: url(https://raw.githubusercontent.com/wildman9x/GCH1002-Web301-Assignment-ShoppingCart/DucAnh/ShoppingCart/public/img/diagonal-line.svg);
}

.diagonal-line.pattern {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.desktop-cart {
  color: #212121;
  font-size: 22px;
  text-decoration: none;
  z-index: 101;
}

.btn-custom {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  background-color: #c9c68c;
  border-radius: 0;
  border: solid 4px px #212121;
  color: #212121;
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-family: Lexend Exa;
  height: 55px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
}

.cart-info {
  background: none;
  border: none;
  color: #212121;
  display: block;
  font-size: 22px;
  height: 150px;
  line-height: normal;
  padding: 0;
  position: absolute;
  margin-left: auto;
  right: 50px;
  text-decoration: none;
  width: 55px;
  z-index: 200;
}

.cart-count {
  transition: 0.2s ease-in-out;
  background: #c9908c;
  border: solid 4px #212121;
  display: block;
  line-height: 51px;
  text-align: center;
}

.cart-total-amount {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  text-align: center;
  margin-left: -120px;
  margin-top: 150px;
  font-size: 0.95em;
  width: 300px;
}

.cart-container {
  background: linear-gradient(140deg, rgb(222, 199, 178) 20%, rgb(255, 169, 122) 70%);
  height: 893px;
  font-size: 16px;
  max-height: 100vh;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 23px;
  height: 100vh;
  padding-top: 0;
  z-index: 204;
  width: 450px;
  visibility: hidden;
  border: solid 2px px #212121;
  padding: 25px;
  position: relative;
  font-size: 16px;
  max-height: 100vh;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 23px;
  height: 100vh;
  padding-top: 0;
  z-index: 204;
  width: 450px;
  visibility: hidden;
}

.cart-total-amount {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  text-align: center;
  margin-left: -120px;
  margin-top: 150px;
  font-size: 0.95em;
  width: 300px;
}

.cart-total-amount:after {
  margin: 0 00 40px;
  -webkit-flex: 1 0 20px;
  -ms-flex: 1 0 20px;
  flex: 1 0 20px;
  content: "";
  border-top: 3px solid #212121;
  margin: 0 20px 0 0;
}

.welcome img {
  display: block;
  height: 850px;
  object-fit: cover;
  width: 100%;
}

img {
  border-style: none;
}

.main {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.sidebar {
  -webkit-flex: 0 0 277px;
  -ms-flex: 0 0 277px;
  flex: 0 0 277px;
  padding: 50px 0px 50px 50px;
}

@media screen and (min-width: 1025px) {
  .has-welcome .sidebar {
    padding-top: 50px;
  }
}

.sidebar-nav-title {
  background: #c9908c;
  border: solid 4px #212121;
  cursor: pointer;
  line-height: normal;
  text-align: left;
  padding: 0 15px;
  position: relative;
  width: 100%;
  -webkit-appearance: button;
  margin: 0;
  overflow: visible;
}

.side-nav {
  width: 100%;
}

.side-nav-section {
  margin-bottom: 10px;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

category-nav-item {
  border: solid 4px #212121;
  border-top: none;
  display: none;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.category li {
  border-bottom: solid 4px #212121;
}

.search-form {
  position: relative;
}

form {
  display: block;
  margin-top: 0em;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #ffffff;
  border-radius: 0;
  border: solid 4px #212121;
  color: #212121;
  font-family: Lexend Exa;
  font-size: 16px;
  height: 55px;
  padding: 10px;
  width: 100%;
  overflow: visible;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: fieldtext;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
  background-color: field;
  margin: 0em;
  padding: 1px 2px;
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}

input[type="hidden" i] {
  appearance: none;
  background-color: initial;
  cursor: default;
  display: none !important;
  padding: initial;
  border: initial;
}

.search-input {
  appearance: none;
  border: solid 4px #212121;
  background: #ffffff;
  line-height: normal;
  padding-left: 40px;
}

.search-button {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  background: none;
  border: none;
  height: 51px;
  left: 5px;
  opacity: 0.5;
  padding: 0;
  position: absolute;
  top: 2px;
  width: 40px;
}

.pages-nav.side-nav-section {
  margin-top: 40px;
}

nav {
  display: block;
}

.pages-nav-items {
  margin-bottom: 25px;
}

a {
  text-decoration: none;
  color: #212121;
  background-color: transparent;
  cursor: pointer;
}

.pages-nav-items li a {
  padding: 4px 0;
}

a:hover {
  text-decoration: underline;
  color: #212121;
}

.pages-nav-items li {
  margin-bottom: 25px;
}

.all-product-banner {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  border: solid 2px #212121;
  margin: 50px 0 0;
  padding-bottom: 2px;
  z-index: -2;
  position: relative;
}

.content {
  padding-top: 0;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 70px 50px;
  margin-right: 100px;
}

.tag {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #212121;
  color: #F8F8F9;
  font-size: 12px;
  left: 50%;
  padding: 6px 20px;
  position: absolute;
  top: 0;
}

.banner-text {
  width: 100%;
}

.all-product-banenr .banner-detail .banner-text h2 {
  margin-bottom: 25px;
  line-height: 1.5em;
  word-break: break-word;
}

.banner-images {
  /*-webkit-transform: translateY(-50%) translateX(-50%);*/
  /*transform: translateY(-50%) translateX(-50%);*/
  height: 100%;
  left: 10%;
  position: relative;
  /*top: calc(50% - 2px);*/
  width: 75%;
}

.banner-image-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  width: 50%;
}

.banner-image img {
  display: block;
  height: 100%;
  object-fit: cover;
  width: 100%;
  border: solid 2px;
}

.banner-image {
  height: 300px;
  width: 100%;
  border: solid 2px #212121;
  content: " ";
  left: -24px;
  position: relative;
  top: -24px;
  z-index: 1;
}

.banner-image:nth-child(2) {
  left: 0;
  z-index: 0;
  top: 0;
  position: absolute;
}

.banner-image:nth-child(3) {
  left: 24px;
  top: 24px;
  z-index: -1;
  position: absolute;
}

.product-list {
  margin-top: 40px;
}

.product-item {
  display: block;
  font-size: 0;
  padding: 10px;
  padding-bottom: 10px;
  position: relative;
  vertical-align: middle;
  width: 100%;
}

.product-item-container {
  cursor: default;
  position: relative;
  width: 100%;
}

.product-item-image-container {
  border: solid 2px #212121;
  font-size: 0;
  margin: 0;
  overflow: hidden;
  width: 100%;
}

.product-image {
  cursor: pointer;
  display: block;
  width: 100%;
}

@media only screen and (min-width: 1024px) and (hover: hover), not all {
  .product-item.rollover:hover img, .product-item.rollover:active img, .product-item.rollover:focus img {
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    opacity: 0.8;
  }
}

.product-item-status {
  background: #212121;
  color: #F8F8F9;
  font-size: 12px;
  left: 0;
  padding: 6px 10px;
  position: absolute;
  top: 0;
}

figure {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}

.product-item-info {
  border: solid 2px #212121;
  border-top: 0;
  padding: 20px 0;
}

@media only screen and (min-width: 1024px) and (hover: hover), not all {
  .product-item.rollover:hover .product-item-info, .product-item.rollover:active .product-item-info, .product-list-item.rollover:focus .product-list-info {
    opacity: 1;
  }
}

@media only screen and (min-width: 1024px) and (hover: hover), not all {
  .product-item.rollover .product-list-item-info {
    opacity: 1;
  }
}

@media only screen and (min-width: 1024px) and (hover: hover), (-moz-touch-enabled: 0) {
  .product-item.rollover .product-item-info {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    background: #212121;
    bottom: 0;
    position: absolute;
    width: 100%;
    opacity: 0;
  }
}

.product-item.rollover:hover .product-list-item-info, .product-item.rollover:active .product-list-item-info, .product-item.rollover:focus .product-item-info {
  opacity: 1;
}

.product-item.rollover .product-item-info * {
  color: #F8F8F9;
}

.product-item-info {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background: #212121;
  bottom: 0;
  position: absolute;
  width: 100%;
  opacity: 0;
}

.product-item-info-header {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  font-size: 16px;
  line-height: 22px;
  padding: 0 20px;
  position: relative;
  width: 100%;
  z-index: 1;
}

.product-item-container:hover, .product-item-info {
  color: #F8F8F9;
  opacity: 1;
}

.product-item-info-name {
  padding-right: 20px;
  position: relative;
  text-transform: uppercase;
  overflow-wrap: break-word;
}

.product-item-price {
  margin-left: auto;
}

.product-item-info:hover {
  /*opacity: 1;*/
}

.button:active {
  box-shadow: none;
  transform: translateY(0.25em);
}

.product-heading {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  position: relative;
  top: 0;
  z-index: 100;
}

.product-title {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  padding-right: 25px;
  margin-bottom: 10px;
}

.product-subtitle {
  font-size: 22px;
  line-height: 36px;
}

div {
  display: block;
}

.product-status {
  background: #212121;
  color: #F8F8F9;
  font-size: 11px;
  padding: 6px 10px;
  vertical-align: middle;
}

.pagination {
  text-align: center;
  align-content: center;
  color: #212121;
}

.page-link {
  color: #212121;
}

page-link:hover {
  color: #212121;
}

.carousel-indicators li {
  /*width: 0.5em;*/
}

.carousel-indicators li {
  width: 0.75em;
  height: 0.75em;
  background-color: #dec7b2;
  border: solid;
}

.product-description {
  margin: 50px 0;
  max-width: 600px;
  word-break: break-word;
  width: 100%;
}

.product-add {
  margin-top: -72px;
  margin-left: auto;
  margin-top: -70px;
  max-width: 296px;
  width: 100%;
}

.input {
  appearance: none;
  border: solid 4px #212121;
  background: #ffffff;
  line-height: normal;
  padding-left: 40px;
  margin-bottom: 1em;
}

.cart-item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  border: solid 2px #212121;
  background: #F8F8F9;
  height: 169px;
  margin-bottom: 25px;
  position: relative;
}

.cart-row {
  border: solid .25em #212121;
  margin-bottom: 1em;
}

.cart-image {
  height: 80%;
  width: auto;
  border: solid .25em #212121;
}

.cart-row {
}

.cart-column {
  max-height: 10em;
}

